body {
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

h1 {
	color: #fff;
	font-weight: normal;
	letter-spacing: 0.1em;
	margin: 100px 0;
}

.button {
	display: inline-block;
	padding: 20px 30px;
	border-radius: 10px;
	background-color: tomato;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	cursor: pointer;
}